.price-container {
  padding: 3rem;
}

.price-title {
  margin-bottom: 2rem;
}

table {
  width: 100%;
}

.rows-title {
  text-align: center;
  font-weight: bold;
}

.category-title {
  font-weight: bold;
}

.package-title td:not(:first-child) {
  text-align: center;
  border: 1px solid black;
}

.content-tr td:not(:nth-child(2)) {
  text-align: center;
}

.content-tr td {
  border: 1px solid black;
  cursor: pointer;
}

.content-tr:hover td {
  background-color: var(--color-form-text);
}

.price-inputs {
  width: 70px;
}

.btn-card {
  background-color: var(--color-dark-green);
  color: var(--color-button);
}

.btn-card:hover {
  background-color: var(--color-chipollino);
  color: var(--color-dark-green);
}

.saveBtn {
  width: 100%;
  margin-bottom: 1rem;
}

.item-add-td,
.item-del-td {
  padding: 0;
}

.item-add-td button {
  border-radius: 5px;
  width: 85%;
  color: #4cbd36;
  font-weight: bold;
  font-size: large;
  margin-left: 3px;
}

.item-del-td button {
  border-radius: 5px;
  width: 85%;
  color: #e92d27;
  font-weight: bold;
  font-size: large;
}
